/**
 * Write a description of class Truck here.
 * 
 * @author (your name) 
 * @version (a version number or a date)
 */
public class Truck
{
    private int MaxCargo = 500;
    private int currentWeight;
    private int initialDistance = 0;
    private Warehouse currentWarehouse;
    private Vertex currentCity; // where the truck is currently positioned 
    private PriorityQueue<City> city;
    
    public Truck(Warehouse location){
        currentWeight = 500;
        currentWarehouse = location;
        currentCity = location;
    }
    
    public void deliver(int cargoWeight, City startCity){ 
        int distance=city.distanceTo(startCity);
         if(currentWeight-w<0){
            // if truck cannot take another cargo, it should go back 
            
            initialDistance+=distance;
            currentPosition=city;
            
            return true;
        }else{
            currentWeight=currentWeight-cargoWeight;
            initialDistance+=distance;
            currentPosition=city;
            return true;
        }
    }            
        
    public void setDistance(int x){
        distance = distance+x;
    }
    
    public int getDistance(){
        return distance;
    }
    
    // return the cargo's current weight
    public int getCargoWeight(){
        return currentWeight;
    }
    
    public Vertex getCurrentCity(){
        return currentCity;
    }
}
